<div class="container">
<div class="row">
<h2 class="head-line title_h2 col-xs-8 col-xs-offset-4 bg-light">商品詳細</h2>
</div>
<div class="row">
	<div class="col-xs-12 form-inline">
	  <div class="col-xs-3 col-xs-offset-3">
	    <div id="img_field">
	          <% if @item.image.attached? %>
            <%= image_tag @item.image, size: "400x400" %>
            <% else %>
            <%= image_tag 'no_image', size: "400x400" %>
            <% end %>
            </div>
      </div>
      <div class="col-xs-3 col-xs-offset-3">&emsp;
      </div>
      </div>
      <div class="col-xs-6 ">
	      <div class="field">
					<p>
						商品名&emsp;<%= @item.name %>
					</p>
	      </div><br>
	      <div class="field">
					<p>
						商品説明&emsp;<%= @item.introduction %>
					</p><br>
	      </div>
	      <div class="field">
					<p>
						ジャンル&emsp;<%= @item.genre.name %>
					</p><br>
	      </div>
	      <div class="field">
					<p>
						税込価格&emsp;<%= @item.taxin_price.to_s(:delimited) %>(<%= @item.price.to_s(:delimited) %>) 円<br>
						(税抜価格)
					</p><br>
	      </div>
	      <div class="field">
					<p>
						販売ステータス
		        <% if @item.is_active == true %>
							　<i class="text-success">販売中</i>
						<% elsif @item.is_active == false %>
							　<i class="text-danger">販売停止中</i>
						<% end %>
					</p>
	      </div>
		  <div class="actions col-xs-9">
	      		<%= link_to "編集する", edit_admin_item_path(@item), data: {"turbolinks" => false}, class: "glyphicon glyphicon-pencil btn btn-success pull-right" %>
      	  </div>
      	</div>
    </div>
</div>
</div>