</br><div class="container">
<div class="row">
    <div class="col-lg-10 col-xs-offset-1 title">
        <h2><span class="bg-light">配送先編集/一覧</span></h2>
    </div>
</div>
      <% if @address.errors.any? %>
      <%= @address.errors.count %>prohibited this obj from being saved:
        <% @address.errors.full_messages.each do |error| %>
      <%= error %>
      <% end %>
      <% end %>
      <%= form_with model: @address, url: public_addresses_path do |f| %>
        <div class="row">
          <div class="col-xs-3">
            <%= f.label :"郵便番号（ハイフンなし）" %>
          </div>
          <div class="col-lg-4">
            <%= f.text_field :postal_code, placeholder: "0000000", class: "col-xs-6" %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <%= f.label :"住所" %>
          </div>
          <div class="col-lg-4">
            <%= f.text_field :address, placeholder: "東京都千代田区隼町4番2号", class: "col-xs-12" %>
          </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <%= f.label :"宛名" %>
            </div>
            <div class="col-lg-4">
                <%= f.text_field :name, placeholder:"令和太郎", class: "col-xs-6" %>
            </div>
            <div class="col-lg-4">
              <%= f.submit '新規登録',class: "btn col-xs-5 btn-success" %>
            </div>
        </div>
        <% end %>
</br>
<div class="row">
 <div class="col-xs-8">
 <table class="table ship-city-table">
  <thead>
    <tr>
     <th class="active">郵便番号</th>
     <th class="active">住所</th>
     <th class="active">宛名</th>
     <th class="active", colspan="2"></th>
    </tr>
  </thead>
   <tbody>
      <% @addresses.each do |address| %>
    <tr>
      <td><%= address.postal_code %></td>
      <td class="text-left"><%= address.address %></td>
      <td class="text-left"><%= address.name %></td>
      <td class="text-center"><%= link_to "編集する", edit_public_address_path(address), class: "btn btn-success" %>
        <%= link_to "削除する", public_address_path(address), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"}, remote:true %>
      </td>
    </tr>
    <% end %>
   </tbody>
</table>
</div>
</div>
</div>