<!--% provide(:title, "新規会員登録") %-->
<div class="container">
<div class="row">
  <div class="col-xs-offset-1 col-xs-11">

    <h2 class="head-line title_h2 text-center"><span class="bg-light">新規会員登録</span></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <!--%= render "layouts/error_messages", resource: resource %-->

      <div class="field form-group col-xs-12">
        <%= f.label :"名前", class: "col-sm-2 control-label" %>
        <%= f.label :"(姓)", class: "col-sm-1 control-label" %>
        <%= f.text_field :last_name, autofocus: true, :placeholder => "令和",class: "col-sm-3 form-control-static name" %>
        <%= f.label :"(名)", class: "col-sm-1 control-label" %>
        <%= f.text_field :first_name, autofocus: true, :placeholder => "太郎", class: "col-sm-3 form-control-static name " %>
      </div>

      <div class="field form-group col-xs-12">
        <%= f.label :"フリガナ", class: "col-sm-2 control-label" %>
        <%= f.label :"(セイ)", class: "col-sm-2 control-label" %>
        <%= f.text_field :last_name_kana, autofocus: true, :placeholder => "レイワ", class: "col-sm-2 form-control-static name" %>
        <%= f.label :"(メイ)", class: "col-sm-2 control-label" %>
        <%= f.text_field :first_name_kana, autofocus: true, :placeholder => "タロウ", class: "col-sm-2 form-control-static name" %>
      </div>

      <div class="form-group col-xs-9">
      <%= f.label :"メールアドレス", class: "col-sm-4 control-label" %>
      <%= f.text_field :email, :placeholder => "sample@sample.com", class: "col-sm-6 form-control-static"%>
      </div>

      <div class="form-group col-xs-9">
      <%= f.label :"郵便番号(ハイフンなし)", autofocus: true, class: "col-sm-4 control-label" %>
      <%= f.text_field :postal_code, :placeholder => "0000000", class: "col-sm-4 form-control-static postal_code" %>
      </div>

      <div class="form-group col-xs-9">
      <%= f.label :"住所", class: "col-sm-4 control-label" %>
      <%= f.text_field :address, autofocus: true, :placeholder => "東京都千代田区隼町4番2号", class: "col-sm-6 form-control-static address"  %>
      </div>

      <div class="form-group col-xs-9">
      <%= f.label :"電話番号(ハイフンなし)", class: "col-sm-4 control-label" %>
      <%= f.text_field :telephone_number, :placeholder => "00000000000", class: "col-sm-4 form-control-static" %>
      </div>

      <div class="field form-group col-xs-9">
        <%= f.label :"パスワード(6文字以上)", class: "col-sm-4 control-label" %>
        <%= f.password_field :password, autocomplete: "new-password", class: "col-sm-4 form-control-static" %>
      </div>

      <div class="field form-group col-xs-9">
        <%= f.label :"パスワード(確認用)", class: "col-sm-4 control-label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-sm-4 form-control-static" %>
      </div>

      <div class="actions col-xs-9 ">
        <%= f.submit "新規登録",class: 'btn btn-success btn-lg col-xs-7' %>
      </div>
    <% end %></br>

    <div class="col-xs-9 text-center">
      <h3 class="head-line title_h3 text-center"><span class="bg-light">既に登録済みの方</h3>
      <%= link_to new_customer_session_path, class: "btn-link" do %><u>こちら</u><% end %>からログインしてください。
      <!--%= render "public/shared/links" %-->
    </div>
  </div>
</div>
</div>


